body {
    font-family: "Helvetica", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Animazione per la comparsa della pagina */
@keyframes InitialAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

video {
    pointer-events: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
    position: absolute;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.landing-container {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
}

/* Stile della landing page quando appare */
.landing-appear {
    animation: InitialAnimation 1s ease forwards;
    position: relative;
}



.landing-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px; /* Aggiungi un margine per spostare il contenuto sotto la navbar */
    background-color: black;
}

.navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    top: 20px;
    padding: 15px 40px;
    background: linear-gradient(45deg, rgba(27, 73, 255, 0.5), rgba(224, 255, 51, 0.5));
    backdrop-filter: blur(8px); /* Aggiunge un effetto blur allo sfondo */
    -webkit-backdrop-filter: blur(8px);
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}


.gradient-blur {
    background: linear-gradient(45deg, rgba(27, 73, 255, 0.5), rgba(224, 255, 51, 0.5));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.black-opacity {
    background: rgba(0, 0, 0, 0.7);
}


.logo-mobile {
    display: none;
}

.logo {
    height: 60px;
}

.logo:hover {
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;    

}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white; /* Colore del testo */
    text-decoration: none;
    font-size: 1.2rem;
}

.ai-assistant {
    border: 1px solid white;
    padding: 10px 15px;
    transition: color 0.3s ease; /* Transizione per il colore del testo */
    border-radius: 5px;
    font-size: 1rem !important;
}

.ai-assistant:hover {
    background-color: white;
    color: black; /* Colore del testo al passaggio del mouse */
    transition: 0.3s ease;
}

.contact-me {
    border: 1px solid white;
    padding: 10px 15px;
    background-color: #1b49ff;
    transition: color 0.3s ease; /* Transizione per il colore del testo */
    border-radius: 5px;
    font-size: 1rem !important;
}

.contact-me:hover {
    background-color: blue;
    transition: 0.3s ease;
}

.hamburger-button {
    background: none;
    border: none;
    color: white; /* Colore del pulsante */
    font-size: 2rem; /* Dimensione dell'icona */
    margin: 0;
}

.hamburger-menu {
    display: none; /* Nasconde il menu hamburger */
}


.menu-appear {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 85px;
    z-index: 99;
    width: 80%;
    right: 10%;
    transition: height 0.3s ease;
    text-align: right;
    border-radius: 0 0 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 0;
    overflow: hidden;
}

.menu-appear.view {
    transition: height 0.3s ease;
    height: 48vh;
}

.menu-item {
    position: relative;
    color: white;
    background-color: transparent;
    transition: 0.3s ease;
    border-radius: 20px;
    height: 8vh;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    transform-origin: top;
}

.menu-item:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    height: 100vh; /* Altezza della sezione hero */
    position: relative;
    overflow: hidden; /* Nasconde eventuali overflow */
    background: linear-gradient(45deg, #1b49ff 0%, #e0ff33 100%) , rgba(255, 255, 255, 0.8);
    background-size: 300% 300%;
    animation: color 8s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.3)); /* Overlay sfumato */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Colore del testo */
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 3rem;
}

.hero-subtitle {
    font-size: 1.2rem;
    color: rgb(212, 212, 212);
}

.logo-slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15vh; /* Altezza dello slider */
    overflow: hidden; /* Nasconde eventuali overflow */
    display: flex;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 30%, transparent); /* Overlay sfumato */
    border-top: 1px solid gray;
}

.slider {
    display: flex;
    animation: scroll 50s linear infinite; /* Animazione per lo slider */
}

.slider img {
    height: 70px; /* Altezza dei loghi */
    margin: 0 70px; /* Margine tra i loghi */
    filter: grayscale(100%) brightness(150%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Scorri solo la metà perché il contenuto è duplicato */
    }
}

.why-coaching {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea a sinistra */
    justify-content: center;
    gap: 10vh;
    padding: 40px;
    overflow: hidden; /* Nasconde il contenuto all'inizio */
}

.coaching-content {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10%;
    width: 100%;
    transform: translateX(0%); /* Inizialmente fuori dallo schermo */
    transition: transform 0.5s ease; /* Transizione per l'animazione */
    border-radius: 5px;
    padding: 40px;
}


.coaching-content.visible {
    transform: translateX(0); /* Porta il contenuto all'interno dello schermo */
}

.coaching-description {
    padding: 40px;
    width: 50%; /* Larghezza della parte sinistra */
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.coaching-title {
    color: #1b49ff; /* Colore blu per il titolo */
    font-size: 1.5rem; /* Dimensione più piccola per il titolo */
    margin-bottom: 10px; /* Spazio sotto il titolo */
    text-align: left;
}

.coaching-subtitle {
    color: white;
    font-size: 3rem; /* Altezza del titolo */
    margin-bottom: 20px; /* Spazio sotto il titolo */
}

.coaching-text {
    font-size: 1rem; /* Dimensione più piccola per il contenuto */
    color: rgb(173, 173, 173); /* Colore del testo */
    text-align: justify; /* Giustifica il testo */
}

.coaching-card {
    position: relative;
    width: 30%;
    background-color: white; /* Colore di sfondo della card */
    border-radius: 5px; /* Bordo arrotondato */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombra per la card */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
}

.coaching-card::after, .coaching-card::before {
    content: '';
    position: absolute;
    inset: -4px;
    background: conic-gradient(from 0deg, #1b49ff, #e0ff33, #1b49ff,  #e0ff33, #1b49ff);
    z-index: -1;
    border-radius: 5px;
    animation: spin 6s linear infinite;
}

.coaching-card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.coaching-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.coaching-card img {
    width: 100%; /* L'immagine occupa tutta la larghezza della card */
    height: auto; /* Mantiene il rapporto d'aspetto originale */
    border-radius: 5px; /* Applica lo stesso bordo arrotondato della card */
    object-fit:contain; /* Assicura che l'immagine copra l'intera area senza distorsioni */
}

/* Nuovo div "why-nick" */
.why-nick {
    position: relative;
    display: flex;
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */

}

.why-nick video {
    position: absolute; /* Posiziona il video in modo assoluto */
    top: 0;
    left: 0;
    width: 100%; /* Occupa tutta la larghezza */
    height: 100%; /* Occupa tutta l'altezza */
    object-fit: cover; /* Copre l'area senza distorsioni */
}

.why-nick-content {
    width: 50%; /* Larghezza per il titolo e la descrizione */
    padding: 40px; /* Padding interno */
    color: white; /* Colore del testo */
    position: sticky; /* Rende il contenuto fisso */
    top: 0; /* Posiziona il contenuto in alto */
    z-index: 1; /* Assicura che sia sopra il video */
    display: flex; /* Abilita Flexbox */
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: right; /* Centra orizzontalmente il contenuto */
    text-align: right; /* Centra il testo */
}

.why-nick-title {
    color: #1b49ff; /* Colore blu per il titolo */
    font-size: 1.5rem; /* Dimensione più piccola per il titolo */
    margin-bottom: 10px; /* Spazio sotto il titolo */
    text-align: right;
}

.why-nick-subtitle {
    color: white; /* Colore del sottotitolo */
    font-size: 3rem; /* Dimensione del sottotitolo */
    margin-bottom: 15px; /* Spazio sotto il sottotitolo */
}

.why-nick-text {
    font-size: 1rem; /* Dimensione del testo */
    color: rgb(173, 173, 173); /* Colore del testo */
    text-align: right; /* Giustifica il testo */
    margin-top: 10px; /* Spazio sopra il testo */
}

.wrapper {
    width: 30%; /* Larghezza per lo scroller */
    height: 80vh; /* Altezza per occupare tutto il container */
    position: relative; /* Posizione relativa per il blocco */
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-mobile {
    display: none;
    width: 30%; /* Larghezza per lo scroller */
    height: 20vh; /* Altezza per occupare tutto il container */
    position: relative; /* Posizione relativa per il blocco */
    align-items: center;
    justify-content: center;
}

.wrapper .card {
    background-color: white;
    width: 430px;
    display: flex;
    align-items: center;
    padding: 20px; 
    opacity: 0;
    pointer-events: none;
    position: absolute; 
    justify-content: space-between;
    border-radius: 100px 20px 20px 100px;
    animation: animate 15s linear infinite; 
    animation-delay: calc(var(--delay) * 3s);
}

.wrapper:hover .card{
    animation-play-state: paused;
}


.wrapper .card:last-child {
    animation-delay: calc(var(--delay) * -3s);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20% {
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%, 40% {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
    }
    45%, 60% {
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
}

.card .content{
    display: flex;
    align-items: center;
}

.wrapper .card .img {
    height: 90px;
    width: 90px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .img i {
    font-size: 50px;
    color: #1b49ff;
}

.card .details {
    margin-left: 100px;
}

.details span {
    font-weight: 600;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(to bottom, #1b49ff 0%, #e0ff33 100%);
}

.why-nick-overlay-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%; /* Regola l'altezza della sfumatura */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 0) 100%
    );
    pointer-events: none; /* Permette di cliccare attraverso l'overlay */
    z-index: 2;
}

.why-nick-overlay-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%; /* Regola l'altezza della sfumatura */
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 0) 100%
    );
    pointer-events: none; /* Permette di cliccare attraverso l'overlay */
    z-index: 2;
}

.how-ai-coaching-works {
    height: auto; /* Imposta l'altezza a 100vh */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

.how-ai-coaching-works-content {
    margin-top: 100px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}  

.how-ai-coaching-works-content-2 {
    margin-top: 50vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
}  

.how-ai-coaching-works-title {
    color: #1b49ff; /* Colore blu per il titolo */
    font-size: 3rem; /* Dimensione più piccola per il titolo */
    margin-bottom: 10px; /* Spazio sotto il titolo */
    text-align: center;
}

.how-ai-coaching-works-subtitle {
    color: white; /* Colore del sottotitolo */
    font-size: 3rem; /* Dimensione del sottotitolo */
    margin-bottom: 15px; /* Spazio sotto il sottotitolo */
    text-align: center;
}

.how-ai-coaching-works-text {
    font-size: 1rem; /* Dimensione del testo */
    color: rgb(173, 173, 173); /* Colore del testo */
    text-align: center; /* Giustifica il testo */
    margin-top: 10px; /* Spazio sopra il testo */
}

.linkedin-link {
    background: linear-gradient(45deg, #1b49ff, #e0ff33); /* Gradiente lineare */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

.horizontal-scroll-section {
    position: relative;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 1;
}

.horizontal-scroll-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px; /* Regola l'altezza della sfumatura */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 0) 100%
    );
    pointer-events: none;
    z-index: 2;
}

.horizontal-scroll-overlay-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Regola l'altezza della sfumatura */
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: 2;
}

.horizontal-scroll-section video {
    position: absolute; /* Posiziona il video in modo assoluto */
    top: 0;
    left: 0;
    width: 100%; /* Occupa tutta la larghezza */
    height: 100%; /* Occupa tutta l'altezza */
    object-fit: cover; /* Copre l'area senza distorsioni */
    z-index: 0; /* Mette il video sotto gli altri contenuti */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.3)); /* Overlay sfumato */
}

.horizontal-scroll-container {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.horizontal-scroll-cards-wrapper {
    display: flex;
    gap: 5rem; /* equivalente a gap-4 */
}

.horizontal-card {
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    min-width: 300px;
    margin-right: 2rem;
    border-width: 1px;
    border-style: solid;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 
        /* Glow interno */
        inset 0 0 30px rgba(255, 255, 255, 0.1),
        /* Glow del bordo */
        0 0 10px var(--card-color),
        0 0 30px var(--card-color);
}

.horizontal-card:hover {
    box-shadow: 
        inset 0 0 50px rgba(255, 255, 255, 0.2),
        0 0 20px var(--card-color),
        0 0 40px var(--card-color),
        0 0 80px var(--card-color),
        0 0 100px var(--card-color);
}

.horizontal-card-background {
    position: absolute;
    inset: 0;
    z-index: 0;
    transition: transform 0.3s ease;
}

.horizontal-card:hover .horizontal-card-background {
    transform: scale(1.1);
}

.horizontal-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.card-icon i {
    font-size: 4rem;
    color: white;
   
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.horizontal-card-title {
    color: #007bff; /* Blu */
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0;
}

.horizontal-card-description {
    color: white;
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
}

.steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: black;
}

.how-ai-coaching-works-title-2 {
    font-size: 2rem; /* Dimensione più piccola per il titolo */
    margin-bottom: 10px; /* Spazio sotto il titolo */
    text-align: center;
    background: linear-gradient(45deg, #1b49ff, #e0ff33); /* Gradiente lineare */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Colore del testo trasparente per mostrare il gradiente */
}

.swiper {
    width: 80%;
    height: 80%;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    border-radius: 10px;
    /* Center slide text vertically */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.testimonials-section {
    height: 100vh; /* Imposta l'altezza a 100vh */
    padding: 40px;
    background: linear-gradient(45deg, #1b49ff 0%, #e0ff33 100%) , rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: gradientAnimation 5s ease infinite; /* Animazione del gradiente */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.testimonials-content {
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.testimonials-title {
    color: #1b49ff; /* Colore blu per il titolo */
    font-size: 1.5rem; /* Dimensione più piccola per il titolo */
    margin-bottom: 0; /* Spazio sotto il titolo */
    text-align: center;
}

.testimonials-subtitle {
    color: white; /* Colore del sottotitolo */
    font-size: 3rem; /* Dimensione del sottotitolo */
    margin-bottom: 0; /* Spazio sotto il sottotitolo */
    text-align: center;
}

.testimonials-text {
    font-size: 1rem; /* Dimensione del testo */
    color: rgb(67, 58, 58); /* Colore del testo */
    text-align: center; /* Giustifica il testo */
    margin-top: 0; /* Spazio sopra il testo */
}

.myTestimonialsSwiper {
    width: 100%; /* Larghezza del carosello */
    max-width: 800px; /* Larghezza massima */
}

.testimonial-ss {
    background-color: transparent; /* Sfondo più scuro ma ancora semi-trasparente */
}

.testimonial-card {
    max-width: 550px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.3);
    
}

.profession {
    font-style: italic;
    color: gray;
    padding: 10px;
}

.testimonial-description {
    color: #333; /* Colore del testo */
    font-size: 0.8rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(67, 58, 58) !important; /* Colore delle frecce */
    width: 30px; /* Larghezza delle frecce */
    height: 30px; /* Altezza delle frecce */
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px; /* Dimensione dell'icona delle frecce */
}
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

.card {
    transition: transform 0.5s ease, opacity 0.5s ease; /* Aggiungi transizione */
}

.card.rotate {
    transform: rotateY(180deg); /* Rotazione dell'elemento */
    opacity: 0.5; /* Opacità durante la rotazione */
}

.understand-threshold {
    height: 100vh;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: black;
}

.understand-threshold-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.understand-threshold-title {
    color: #1b49ff;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.understand-threshold-subtitle {
    color: white;
    font-size: 3rem;
    margin-bottom: 0;
}

.understand-threshold-text {
    color: rgb(173, 173, 173);
    font-size: 1rem;
    margin-top: 10px;
}

.understand-threshold-button {
    text-decoration: none;
    background-color: #1b49ff; /* Versione più trasparente del blu originale */
    color: white;
    border-radius: 5px;
    border: 1px solid #1b49ff;
    cursor: pointer;
    padding: 10px 20px;
    width: 30%;
    margin-left: 35%;
    text-align: center;
    margin-top: 40px;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: 
        /* Glow interno */
        inset 0 0 10px rgba(27, 73, 255, 0.3),
        /* Glow esterno */
        0 0 5px rgba(27, 73, 255, 0.5),
        0 0 15px rgba(27, 73, 255, 0.3),
        0 0 30px rgba(27, 73, 255, 0.2);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Glow sul testo */
}

.understand-threshold-button:hover {
    background-color: rgba(27, 73, 255, 0.4);
    box-shadow: 
        inset 0 0 15px rgba(27, 73, 255, 0.4),
        0 0 10px rgba(27, 73, 255, 0.6),
        0 0 20px rgba(27, 73, 255, 0.4),
        0 0 40px rgba(27, 73, 255, 0.3);
    transform: scale(1.02); /* Leggero effetto di ingrandimento */
}

.understand-threshold-button:active {
    transform: scale(0.98); /* Effetto di pressione */
}

.understand-threshold-image {
    height: 70vh;
    padding: 10px;
    border: 1px solid #e0ff33; /* Giallo neon */
    border-radius: 10px;
    box-shadow: 
        /* Glow interno */
        inset 0 0 10px rgba(224, 255, 51, 0.3),
        /* Glow esterno - multipli livelli per maggiore profondità */
        0 0 5px rgba(224, 255, 51, 0.5),
        0 0 20px rgba(224, 255, 51, 0.3),
        0 0 40px rgba(224, 255, 51, 0.2);
    transition: all 0.3s ease;
}

.understand-threshold-image-mobile {
    display: none;
}

/* Opzionale: intensifica il glow al hover */
.understand-threshold-image:hover {
    box-shadow: 
        inset 0 0 15px rgba(224, 255, 51, 0.4),
        0 0 10px rgba(224, 255, 51, 0.6),
        0 0 20px rgba(224, 255, 51, 0.4),
        0 0 40px rgba(224, 255, 51, 0.3);
}

.understand-threshold-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.best-coaching-program {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: transparent;
    background: linear-gradient(to bottom, black, #202020, black);
}

.best-coaching-program-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}   

.best-coaching-program-title {
    color: #1b49ff;
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
}

.best-coaching-program-subtitle {
    color: white;
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
}

.best-coaching-program-subtitle-span {
    background: linear-gradient(45deg, #1b49ff, #e0ff33); /* Gradiente lineare */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.best-coaching-program-text {
    color: rgb(173, 173, 173);
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

.time-line {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0; 
}

.timeline-line {
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #ccc;
    transition: background 0.3s ease-out;
}

.timeline-element {
    position: relative;
    width: 50%;
    padding: 5px 20px;
    box-sizing: border-box;
    z-index: 1;
    margin-top: -10vh; /* Sovrapposizione delle sezioni */
}

.timeline-element.left {
    text-align: center;
    padding-right: 40px;
}

.timeline-element.right {
    text-align: center;
    padding-left: 40px;
    left: 50%;
}

.timeline-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    background-clip: padding-box;
}

.timeline-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    padding: 5px; /* Spessore del bordo */
    background: linear-gradient(45deg, #1b49ff, #e0ff33); /* Gradiente lineare */
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}

.timeline-content h4 {
    color: #1b49ff;
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
}

.timeline-content h4 span {
    background: linear-gradient(45deg, #1b49ff, #e0ff33); /* Gradiente lineare */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.timeline-content p {
    color: white;
    font-size: 1rem;
    margin-top: 0;
    text-align: center;
}

.responsible-ai {
    position: relative;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.responsible-ai-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%; /* Regola l'altezza della sfumatura */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 0) 100%
    );
    pointer-events: none;
    z-index: 2;
}

.responsible-ai-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.responsible-ai-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.responsible-ai-title {
    background: linear-gradient(45deg, #000000, #e0ff33, #000000); /* Gradiente lineare */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
}

.responsible-ai-text {
    color: white;
    font-size: 1rem;
    margin-top: 0;
    text-align: center;
}

.responsible-ai-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.responsible-ai-card {
    background-color: rgba(255, 255, 255, 0.7); /* Colore bianco con trasparenza */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Bordo con trasparenza */
    border-radius: 8px; /* Angoli arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(25% - 40px); /* Adatta quattro card per riga con margine */
    max-width: calc(25% - 40px); /* Limita la larghezza massima */
    box-sizing: border-box;
    transition: transform 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    backdrop-filter: blur(10px); /* Effetto blur sullo sfondo */
}

.responsible-ai-card:hover {
    transform: translateY(-5px); /* Effetto di sollevamento al passaggio del mouse */
}

.responsible-ai-card p {
    margin: 0;
    font-size: 0.8rem;
    color: #333; /* Colore del testo */
    line-height: 1.5;
}

.footer {
    position: absolute;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    bottom: 60px;
    padding: 15px 40px;
    background: linear-gradient(45deg, #1b49ff, #e0ff33); /* Gradiente lineare */
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo più scuro ma ancora semi-trasparente */
    backdrop-filter: blur(8px); /* Aggiunge un effetto blur allo sfondo */
    -webkit-backdrop-filter: blur(8px); /* Per supporto Safari */
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer h1 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
}

.footer p {
    color: white;
    font-size: 1rem;
    margin-bottom: 0;
    text-align: center;
}

.footer-privacy-credits {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Distanza tra gli elementi */
    color: white; /* Colore del testo */
    font-size: 14px;
    width: 100%;
}

.main-container { /* Assicurati di avere un selettore per il contenitore principale */
    position: relative;
}