@font-face {
    font-family: 'Alkia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Alkia Regular'), url('../Font/alkia-webfont/Alkia.woff') format('woff');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Alkia Regular';
}
/* Animazione per la comparsa della pagina */
@keyframes InitialAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Stile iniziale della landing page */
.landing-container {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

/* Stile della landing page quando appare */
.landing-appear {
    animation: InitialAnimation 1s ease forwards;
}



.landing-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px; /* Aggiungi un margine per spostare il contenuto sotto la navbar */
}

.navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    top: 20px;
    padding: 15px 40px;
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo più scuro ma ancora semi-trasparente */
    backdrop-filter: blur(8px); /* Aggiunge un effetto blur allo sfondo */
    -webkit-backdrop-filter: blur(8px); /* Per supporto Safari */
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.logo {
    height: 50px;
    filter: invert(1);
}

.logo:hover {
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;    

}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white; /* Colore del testo */
    text-decoration: none;
    font-size: 1.2rem;
}

.ai-assistant {
    border: 1px solid white;
    padding: 10px 15px;
    transition: color 0.3s ease; /* Transizione per il colore del testo */
    border-radius: 5px;
    font-size: 1rem !important;
}

.ai-assistant:hover {
    background-color: white;
    color: black; /* Colore del testo al passaggio del mouse */
    transition: 0.3s ease;
}

.contact-me {
    border: 1px solid white;
    padding: 10px 15px;
    background-color: #1b49ff;
    transition: color 0.3s ease; /* Transizione per il colore del testo */
    border-radius: 5px;
    font-size: 1rem !important;
}

.contact-me:hover {
    background-color: blue;
    transition: 0.3s ease;
}

.hamburger-button {
    background: none;
    border: none;
    color: white; /* Colore del pulsante */
    font-size: 2rem; /* Dimensione dell'icona */
    margin: 0;
}

.hamburger-menu {
    display: none; /* Nasconde il menu hamburger */
}


.menu-appear {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 85px;
    z-index: 99;
    width: 80%;
    right: 10%;
    transition: height 0.3s ease;
    text-align: right;
    border-radius: 0 0 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 0;
    overflow: hidden;
}

.menu-appear.view {
    transition: height 0.3s ease;
    height: 48vh;
}

.menu-item {
    position: relative;
    color: white;
    background-color: transparent;
    transition: 0.3s ease;
    border-radius: 20px;
    height: 8vh;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    transform-origin: top;
}

.menu-item:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    height: 100vh; /* Altezza della sezione hero */
    position: relative;
    overflow: hidden; /* Nasconde eventuali overflow */
    background: linear-gradient(45deg, #1b49ff, #6e6e6e, #e0ff33);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.3)); /* Overlay sfumato */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Colore del testo */
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 3rem;
}

.hero-subtitle {
    font-size: 1rem;
    color: gray;
}

.logo-slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15vh; /* Altezza dello slider */
    overflow: hidden; /* Nasconde eventuali overflow */
    display: flex;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 30%, transparent); /* Overlay sfumato */
    border-top: 1px solid gray;

}

.slider {
    display: flex;
    animation: scroll 10s linear infinite; /* Animazione per lo slider */
}

.slider img {
    height: 50px; /* Altezza dei loghi */
    margin: 0 100px; /* Margine tra i loghi */
    filter: grayscale(100%) brightness(150%);
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.why-coaching {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea a sinistra */
    justify-content: center;
    gap: 10vh;
    padding: 40px;
    overflow: hidden; /* Nasconde il contenuto all'inizio */
}

.coaching-content {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10%;
    width: 100%;
    transform: translateX(0%); /* Inizialmente fuori dallo schermo */
    transition: transform 0.5s ease; /* Transizione per l'animazione */
    border-radius: 5px;
    padding: 40px;
}


.coaching-content.visible {
    transform: translateX(0); /* Porta il contenuto all'interno dello schermo */
}

.coaching-description {
    padding: 40px;
    width: 50%; /* Larghezza della parte sinistra */
    display: flex;
    flex-direction: column;
}

.coaching-title {
    color: #1b49ff; /* Colore blu per il titolo */
    font-size: 1.5rem; /* Dimensione più piccola per il titolo */
    margin-bottom: 10px; /* Spazio sotto il titolo */
    text-align: left;
}

.coaching-subtitle {
    color: white;
    font-size: 3rem; /* Altezza del titolo */
    margin-bottom: 20px; /* Spazio sotto il titolo */
}

.coaching-text {
    font-size: 1rem; /* Dimensione più piccola per il contenuto */
    color: rgb(147, 147, 147); /* Colore del testo */
    text-align: justify; /* Giustifica il testo */
}

.coaching-card {
    position: relative;
    width: 30%;
    height: 50vh;
    background-color: white; /* Colore di sfondo della card */
    border-radius: 5px; /* Bordo arrotondato */
    padding: 40px; /* Padding interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombra per la card */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.coaching-card::after, .coaching-card::before {
    content: '';
    position: absolute;
    inset: -4px;
    background: conic-gradient(from 0deg, #1b49ff, #e0ff33, #1b49ff,  #e0ff33, #1b49ff);
    z-index: -1;
    border-radius: 5px;
    animation: spin 6s linear infinite;
}

.coaching-card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Nuovo div "why-nick" */
.why-nick {
    min-height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
}

.why-nick video {
    position: absolute; /* Posiziona il video in modo assoluto */
    top: 0;
    left: 0;
    width: 100%; /* Occupa tutta la larghezza */
    height: 100%; /* Occupa tutta l'altezza */
    object-fit: cover; /* Copre l'area senza distorsioni */
    z-index: 0; /* Mette il video sotto gli altri contenuti */
}

.why-nick-content {
    width: 50%; /* Larghezza per il titolo e la descrizione */
    padding: 40px; /* Padding interno */
    color: white; /* Colore del testo */
    position: sticky; /* Rende il contenuto fisso */
    top: 0; /* Posiziona il contenuto in alto */
    z-index: 1; /* Assicura che sia sopra il video */
    display: flex; /* Abilita Flexbox */
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: right; /* Centra orizzontalmente il contenuto */
    text-align: right; /* Centra il testo */
}

.why-nick-title {
    color: #1b49ff; /* Colore blu per il titolo */
    font-size: 1.5rem; /* Dimensione più piccola per il titolo */
    margin-bottom: 10px; /* Spazio sotto il titolo */
    text-align: right;
}

.why-nick-subtitle {
    color: white; /* Colore del sottotitolo */
    font-size: 3rem; /* Dimensione del sottotitolo */
    margin-bottom: 15px; /* Spazio sotto il sottotitolo */
}

.why-nick-text {
    font-size: 1rem; /* Dimensione del testo */
    color: rgb(147, 147, 147); /* Colore del testo */
    text-align: right; /* Giustifica il testo */
    margin-top: 10px; /* Spazio sopra il testo */
}

.wrapper {
    width: 30%; /* Larghezza per lo scroller */
    height: 80vh; /* Altezza per occupare tutto il container */
    position: relative; /* Posizione relativa per il blocco */
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .card {
    background-color: white;
    width: 430px;
    display: flex;
    align-items: center;
    padding: 20px; 
    opacity: 0;
    pointer-events: none;
    position: absolute; 
    justify-content: space-between;
    border-radius: 100px 20px 20px 100px;
    animation: animate 15s linear infinite;
    animation-delay: calc(var(--delay) * 3s);
}

.wrapper:hover .card{
    animation-play-state: paused;
}

.wrapper .card:last-child {
    animation-delay: calc(var(--delay) * -3s);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20% {
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%, 40% {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
    }
    45%, 60% {
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
}

.card .content{
    display: flex;
    align-items: center;
}

.wrapper .card .img {
    height: 90px;
    width: 90px;
    position: absolute;
    left: -5px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .img i {
    font-size: 50px;
    color: #1b49ff;
}

.card .details {
    margin-left: 80px;
}

.detsails span {
    font-weight: 600;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(to bottom, #1b49ff 0%, #e0ff33 100%);
}

.how-ai-coaching-works {
    height: 100vh; /* Imposta l'altezza a 100vh */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.how-ai-coaching-works-content {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}  

.how-ai-coaching-works-title {
    color: #1b49ff; /* Colore blu per il titolo */
    font-size: 1.5rem; /* Dimensione più piccola per il titolo */
    margin-bottom: 10px; /* Spazio sotto il titolo */
    text-align: center;
}

.how-ai-coaching-works-subtitle {
    color: white; /* Colore del sottotitolo */
    font-size: 3rem; /* Dimensione del sottotitolo */
    margin-bottom: 15px; /* Spazio sotto il sottotitolo */
    text-align: center;
}

.how-ai-coaching-works-text {
    font-size: 1rem; /* Dimensione del testo */
    color: rgb(147, 147, 147); /* Colore del testo */
    text-align: center; /* Giustifica il testo */
    margin-top: 10px; /* Spazio sopra il testo */
}

.carousel {
    background-color: gray;
    height: 80vh;
}

.contentContainer {
    height: 80vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3vw;
    padding: 0 4rem 0 4rem;
}

.swiper {
    width: 80%;
    height: 80%;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    border-radius: 10px;
    /* Center slide text vertically */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}



.testimonials-section {
    height: 100vh; /* Imposta l'altezza a 100vh */
    padding: 40px;
    background-color: black; /* Colore di sfondo per la sezione */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonne */
    gap: 20px; /* Spazio tra le card */
}

.testimonial-card {
    background-color: white; /* Colore di sfondo per la card */
    border-radius: 10px; /* Bordo arrotondato */
    padding: 20px; /* Padding interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombra per la card */
    text-align: center; /* Centra il testo */
}

.testimonial-image {
    width: 80px; /* Dimensione del cerchio */
    height: 80px; /* Dimensione del cerchio */
    border-radius: 50%; /* Forma circolare */
    overflow: hidden; /* Nasconde l'overflow */
    margin: 0 auto 10px; /* Centra l'immagine */
}

.testimonial-image img {
    width: 100%; /* Occupa tutta la larghezza */
    height: auto; /* Mantiene le proporzioni */
}

.profession {
    font-style: italic;
    color: gray;
}

.testimonial-description {
    margin-top: 10px;
    color: #333; /* Colore del testo */
}

.testimonial-icon {
    font-size: 50px; /* Dimensione dell'icona */
    color: #1b49ff; /* Colore dell'icona */
    margin: 0 auto 10px; /* Centra l'icona */
}

.myTestimonialsSwiper {
    width: 100%; /* Larghezza del carosello */
    max-width: 800px; /* Larghezza massima */
}

.testimonial-ss {
    background: linear-gradient(45deg, #1b49ff 0%, #e0ff33 100%) , rgba(255, 255, 255, 0.8);
    background-size: 300% 300%; /* Dimensione del gradiente per l'animazione */
    animation: gradientAnimation 5s ease infinite; /* Animazione del gradiente */
}

.testimonial-card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 500px;
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.testimonial-icon {
    font-size: 50px; /* Dimensione dell'icona */
    color: #1b49ff; /* Colore dell'icona */
    margin: 0 auto 10px; /* Centra l'icona */
}

.swiper-button-next,
.swiper-button-prev {
    color: #1b49ff; /* Colore delle frecce */
    width: 30px; /* Larghezza delle frecce */
    height: 30px; /* Altezza delle frecce */
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px; /* Dimensione dell'icona delle frecce */
}
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

.card {
    transition: transform 0.5s ease, opacity 0.5s ease; /* Aggiungi transizione */
}

.card.rotate {
    transform: rotateY(180deg); /* Rotazione dell'elemento */
    opacity: 0.5; /* Opacità durante la rotazione */
}