/* Tablet */
@media (max-width: 1100px) {
    
    .menu-appear.view {
        height: 42vh;
    }

    .menu-item {
        height: 6vh;
    }

    .why-coaching {
        justify-content: center;
    }

    .coaching-content {
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        gap: 10vh;
        padding-bottom: 40px;

    }

    .coaching-description {
        width: 100%;
        height: auto;
        padding: 0;
        text-align: center;
    }

    .coaching-title {
        text-align: center;
    }

    .coaching-subtitle {
        text-align: center;
    }

    .coaching-text {
        text-align: center;
    }

    .coaching-card {
        width: 50%;
    }

    .why-nick {
        justify-content: space-around;
    }
    
    .wrapper {
        width: 40%;
    }

    .wrapper .card {
        width: 300px;
        padding: 10px;
    }

    .wrapper .card .img {
        left: 10px;
        top: 10px;
    }
  
    .wrapper .card .details {
        margin-left: 100px;
    }

    .why-nick-content {
        width: 60%;
        padding-right: 20px;
    }

    .horizontal-scroll-container {
        height: 120vh;
    }

    .horizontal-card {
        width: 400px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .myTestimonialsSwiper {
        height: 80vh;
    }

    .testimonial-card {
        padding: 200px 50px;
    }

    .understand-threshold-image {
        width: 400px;
        height: auto;
    }
}

/* Mobile */
@media (max-width: 769px) {
    body {
        video {
            display: none !important;
        }
    }

    .horizontal-scroll-container {
        width: 100%;
    }

    .navbar a {
        font-size: 1rem;
    }

    .ai-assistant {
        font-size: 0.8rem;
        padding: 5px;
    }

    .contact-me {
        font-size: 0.8rem;
        padding: 5px;
    }

    .understand-threshold-content {
        width: 80%;
    }

    .understand-threshold-image {
        display: none;
    }

    .understand-threshold-image-mobile {
        display: flex;
    }

    .understand-threshold-image-mobile img {
        width: 60%;
        margin-left: 20%;
        margin-top: 50px;
        height: auto;
        border: 1px solid #e0ff33; /* Giallo neon */
        border-radius: 10px;
        box-shadow: 
            /* Glow interno */
            inset 0 0 10px rgba(224, 255, 51, 0.3),
            /* Glow esterno - multipli livelli per maggiore profondità */
            0 0 5px rgba(224, 255, 51, 0.5),
            0 0 20px rgba(224, 255, 51, 0.3),
            0 0 40px rgba(224, 255, 51, 0.2);
        transition: all 0.3s ease;
    }

    .horizontal-scroll-container {
        height: 60vh !important;
    }

    .horizontal-card {
        width: 300px;
        height: 150px;
    }
    
    
}

/* Mobile */
@media (max-width: 480px) {
    .understand-threshold-image-mobile img {
        width: 100%;
    }

    .logo-mobile {
        display: flex;
        height: 50px;
    }

    .logo {
        display: none;
    }

    .navbar {
        position: fixed !important;
        width: 90%;
        margin-left: 5%;
        padding: 15px 15px;
        gap: 0;
        justify-content: center !important;
    }

    .navbar ul {
        display: flex;
        gap: 0;
    }

    .navbar li a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar p {
        font-size: 0.8rem !important;
    }

    .menu-appear {
        width: 90%;
        right: 5%;
        top: 90px;
    }

    .ai-assistant {
        padding: 5px;
        font-size: 0.8rem !important;
    }

    .contact-me {
        padding: 5px;
        font-size: 0.8rem !important;
    }

    .hero-overlay {
        width: 100%;
        margin-left: 0;
    }

    .hero-image {
        display: none;
    }

    .hero-image-mobile {
        display: flex;
        margin-top: 40px;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        object-fit: cover;
        z-index: -1;
    }

    .hero-subtitle {
        font-size: 1rem;
        width: 80%;
    }

    .hero-title, .coaching-subtitle, .why-nick-subtitle, .how-ai-coaching-works-subtitle, .testimonials-subtitle, .understand-threshold-subtitle, .best-coaching-program-title, .best-coaching-program-subtitle, .responsible-ai-title {
        font-size: 2rem;
        text-align: center;
    }

    .coaching-title, .why-nick-title, .how-ai-coaching-works-title, .testimonials-title, .understand-threshold-title, .best-coaching-program-title, .responsible-ai-text {
        font-size: 1rem;
    }

    .coaching-text, .why-nick-text, .how-ai-coaching-works-text, .testimonials-text, .understand-threshold-text {
        font-size: 0.8rem;
        text-align: center;
    }

    .why-nick-content {
        width: 100%;
        align-items: center;
    }

    .coaching-card {
        width: 80%;
    }

    .why-nick {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vh;
    }

    .why-nick-overlay-top, .why-nick-overlay-bottom {
        display: none;
    }

    .why-nick-title {
        text-align: center;
    }

    .why-nick-text-mobile {
        display:inline;
        font-size: 0.8rem; /* Dimensione del testo */
        color: rgb(173, 173, 173); /* Colore del testo */
        text-align: center; /* Giustifica il testo */
        margin-top: 10px; /* Spazio sopra il testo */
    }

    .why-nick-text {
        display: none;
    }

    .wrapper {
        display: none;
    }

    .wrapper-mobile {
        display: flex;
        padding: 0;
    }

    .myCardSwiper {
        height: 50vh;
        z-index: 100;
        background-color: transparent !important;
    }

    .myCardSwiper .swiper-slide {
        background-color: transparent !important;
    }

    .myCardSwiper .swiper-button-next, .myCardSwiper .swiper-button-prev {
        color: white !important;
    }

    .wrapper-mobile .card {
        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 20px; 
        opacity: 1;
        pointer-events: none;
        justify-content: space-between;
        animation: none;
        animation-delay: 0;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(8px); /* Aggiunge un effetto blur allo sfondo */
        -webkit-backdrop-filter: blur(8px);
    }

    .wrapper-mobile .card .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 2.5vh;
    }

    .wrapper-mobile .card .img {
        height: 90px;
        width: 90px;
        left: 10px;
        top: 10px;
        background-color: white;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card .details {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }   

    .wrapper-mobile .card .title-card-mobile {
        background: linear-gradient(45deg, #1b49ff, white, #e0ff33); /* Gradiente lineare */
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .wrapper-mobile .card .text-card-mobile {

        color: white;
    }

    .how-ai-coaching-works {
        margin-top: 0;
        padding-top: 0;
    }

    .horizontal-scroll-section, .horizontal-scroll-overlay video {
        display: none;
    }

    .how-ai-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .how-ai-mobile-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .how-ai-mobile-title {
        font-size: 1.5rem;
        color: #1b49ff;
        text-align: center;
    }

    .how-ai-mobile-text {
        font-size: 0.8rem;
        color: white;
        text-align: center;
        max-width: 80%;
    }

    .how-ai-mobile .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .how-ai-mobile .grid-item {
        background-color: transparent;
        border: 2px solid #e0ff33; /* Assicurati che il colore corrisponda a quello del bordo del Card */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(224, 255, 51, 0.3);
        padding: 20px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .how-ai-mobile .grid-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgba(224, 255, 51, 0.5);
    }

    .how-ai-mobile .grid-item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }

    .how-ai-mobile .card-icon {
        font-size: 2rem;
        padding: 0;
    }

    .horizontal-card-title-mobile {
        font-size: 1rem;
        color: #1b49ff;
    }

    .horizontal-card-description-mobile {
        font-size: 0.8rem;
        color: white;
    }

    .view-more-button {
        font-size: 0.8rem;
        width: 70%;
        color: white;
        background: linear-gradient(45deg, #1b49ff, #e0ff33); 
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 10px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .popup {
        background: white;
        width: 50%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }
    
    .close {
        position: absolute;
        top: -15px;
        right: -15px;
        cursor: pointer;
        font-size: 24px;
        background: linear-gradient(45deg, #1b49ff, #e0ff33); 
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .testimonials-content {
        width: 100%;
    }

    .testimonial-card {
        padding: 50px 40px;
    }

    .myTestimonialsSwiper {
        height: 100vh !important;
    }

    .testimonial-card {
        padding-top: 20px !important;
        padding-bottom: 20px !important;

    }

    .myTestimonialsSwiper .swiper-button-next,
    .myTestimonialsSwiper .swiper-button-prev {
        font-size: 0.5rem !important;
    }
    
    .understand-threshold-title {
        text-align: center;
    }

    .understand-threshold-image {
        margin: 0;
    }

    .understand-threshold-image-mobile img{
        margin: 0;
        margin-top: 50px;
    }

    .best-coaching-program {
        margin-top: 30vh;
        width: 100%;
    }

    .best-coaching-program-content {
        width: 100%;
    }

    .best-coaching-program-subtitle-span {
        font-size: 1rem;
    }

    .best-coaching-program-text {
        font-size: 0.8rem;
    }

    .timeline-container {
        width: 100%;
    }

    .timeline-line {
        left: 100%;
    }

    .timeline-element {
        width: 95%;
        left: 0%;
        padding: 0;
        margin-top: 0;
    }

    .timeline-element.left {
        padding: 10px;
        left: 0;
    }

    .timeline-element.right {
        padding: 10px;
        left: 0%;
    }

    .timeline-content {
        padding: 10px 20px;
    }

    .responsible-ai {
        margin-top: 20vh;
        margin-bottom: 50vh;
    }

    .responsible-ai-overlay {
        display: none;
    }

    .responsible-ai-video {
        display: none;
    }

    .responsible-ai-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .responsible-ai-card {
        max-width: 100%;
    }

    .footer {
        width: 90%;
        margin-left: 5%;
        padding: 7px 10px;
        border-radius: 10px;
    }

    .footer h1 {
        font-size: 1rem;
    }

    .footer p {
        font-size: 0.8rem;
    }

    .footer-privacy-credits {
        font-size: 0.8rem;
    }
}

