@font-face {
    font-family: 'Alkia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Alkia Regular'), url('../Font/alkia-webfont/Alkia.woff') format('woff');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Alkia Regular';
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: url("../Images/cursor.png"), auto;

}

/* Aggiungi uno stile per bloccare lo scorrimento del body */
body.lock-scroll {
    overflow: hidden; /* Nasconde lo scorrimento del body */
}

/* Animazione per la comparsa della pagina */
@keyframes InitialAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Stile iniziale della landing page */
.landing-container {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    cursor: url("../Images/cursor.png"), auto;

}

/* Stile della landing page quando appare */
.landing-appear {
    animation: InitialAnimation 1s ease forwards;
}



.landing-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px; /* Aggiungi un margine per spostare il contenuto sotto la navbar */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 40px;
    background-color: black; /* Sfondo trasparente */
    position: fixed; /* Fissa la navbar in alto */
    z-index: 10; /* Porta la navbar sopra il contenuto */
    border-bottom: 1px solid gray;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.logo {
    height: 50px;
    filter: invert(1);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white; /* Colore del testo */
    text-decoration: none;
    font-size: 1.2rem;
}

.ai-assistant {
    border: 1px solid white;
    padding: 12px 17.5px;
    transition: color 0.3s ease; /* Transizione per il colore del testo */
    border-radius: 5px;
}

.ai-assistant:hover {
    background-color: white;
    color: black; /* Colore del testo al passaggio del mouse */
    transition: 0.3s ease;
}

.contact-me {
    border: 1px solid white;
    padding: 12px 17.5px;
    background-color: #002BFF;
    transition: color 0.3s ease; /* Transizione per il colore del testo */
    border-radius: 5px;
}

.contact-me:hover {
    background-color: blue;
    transition: 0.3s ease;
}
.menu-hamburger {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.hamburger-button {
    position: relative;
    background: none;
    border: none;
    color: white; /* Colore del pulsante */
    font-size: 2rem; /* Dimensione dell'icona */
    display: flex !important; /* Aggiungi questa riga */
    align-items: center !important; /* Aggiungi questa riga */
    justify-content: center !important; /* Aggiungi questa riga */
    height: 100%; /* Aggiungi questa riga per occupare l'altezza del contenitore */
}

.hamburger-menu {
    display: none; /* Nasconde il menu hamburger */
}


.menu-appear.hidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90px;
    right: 0;
    z-index: 99;
    transform: translateX(200%);
    transition: 0.3s ease;
    border: 1px solid white;
}

.menu-appear.view {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90px;
    right: 0;
    z-index: 99;
    transform: translateX(0%);
    transition: 0.3s ease;
    border: 1px solid white;
    border-radius: 5px;
}

.menu-item {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 40px;
    transition: 0.3s ease;
}

.menu-item:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
}

.hero-section {
    width: 100%;
    height: 100vh; /* Altezza della sezione hero */
    position: relative;
    overflow: hidden; /* Nasconde eventuali overflow */
    background: linear-gradient(45deg, #002BFF, #6e6e6e, #e0ff33);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.3)); /* Overlay sfumato */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Colore del testo */
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 3rem;
}

.hero-subtitle {
    font-size: 1rem;
    color: gray;
}

.logo-slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15vh; /* Altezza dello slider */
    overflow: hidden; /* Nasconde eventuali overflow */
    display: flex;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 30%, transparent); /* Overlay sfumato */
    border-top: 1px solid gray;

}

.slider {
    display: flex;
    animation: scroll 10s linear infinite; /* Animazione per lo slider */
}

.slider img {
    height: 50px; /* Altezza dei loghi */
    margin: 0 100px; /* Margine tra i loghi */
    filter: grayscale(100%) brightness(150%);
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.why-coaching {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea a sinistra */
    justify-content: center;
    gap: 10vh;
    padding: 40px;
    overflow: hidden; /* Nasconde il contenuto all'inizio */
}

.coaching-title {
    color: white;
    font-size: 3rem; /* Altezza del titolo */
    margin-bottom: 20px; /* Spazio sotto il titolo */
}

.coaching-content {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
    transform: translateX(0%); /* Inizialmente fuori dallo schermo */
    transition: transform 0.5s ease; /* Transizione per l'animazione */
    border-radius: 5px;
    padding: 40px;
}

.coaching-content.visible {
    transform: translateX(0); /* Porta il contenuto all'interno dello schermo */
}

.coaching-description {
    padding: 40px;
    width: 50%; /* Larghezza della parte sinistra */
    color: gray; /* Colore del testo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coaching-text {
    text-align: center;
}

.coaching-card {
    position: relative;
    width: 30%;
    height: 50vh;
    background-color: white; /* Colore di sfondo della card */
    border-radius: 5px; /* Bordo arrotondato */
    padding: 40px; /* Padding interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombra per la card */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.coaching-card::after, .coaching-card::before {
    content: '';
    position: absolute;
    inset: -4px;
    background: conic-gradient(from 0deg, #002BFF, #e0ff33, #002BFF,  #e0ff33, #002BFF);
    z-index: -1;
    border-radius: 5px;
    animation: spin 3s linear infinite;
}

.coaching-card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Nuovo div "why-nick" */
.why-nick {
    min-height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
}

.why-nick video {
    position: absolute; /* Posiziona il video in modo assoluto */
    top: 0;
    left: 0;
    width: 100%; /* Occupa tutta la larghezza */
    height: 100%; /* Occupa tutta l'altezza */
    object-fit: cover; /* Copre l'area senza distorsioni */
    z-index: 0; /* Mette il video sotto gli altri contenuti */
}

.why-nick-content {
    width: 50%; /* Larghezza per il titolo e la descrizione */
    padding: 40px; /* Padding interno */
    color: white; /* Colore del testo */
    position: sticky; /* Rende il contenuto fisso */
    top: 0; /* Posiziona il contenuto in alto */
    z-index: 1; /* Assicura che sia sopra il video */
    display: flex; /* Abilita Flexbox */
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: center; /* Centra orizzontalmente il contenuto */
    text-align: center; /* Centra il testo */
}

.scroll-container {
    width: 50%; /* Larghezza per lo scroller */
    height: 100%; /* Altezza per occupare tutto il container */
    max-height: 100vh; /* Limita l'altezza massima a 100vh */
    overflow-y: auto; /* Abilita lo scorrimento verticale */
    position: relative; /* Posizione relativa per il blocco */
    pointer-events: auto; /* Permette l'interazione */
    direction: rtl; /* Imposta la direzione da destra a sinistra */
}

.scroll-container::-webkit-scrollbar {
    width: 8px; /* Larghezza della scrollbar */
    background-color: transparent; /* Sfondo trasparente per la scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Colore della scrollbar (trasparente) */
    border-radius: 10px; /* Bordo arrotondato per la scrollbar */
}

.scroll-container {
    scrollbar-width: thin; /* Imposta la larghezza della scrollbar */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Colore della scrollbar (trasparente) */
}

.scroll-item {
    height: auto; /* Altezza automatica per ogni elemento dello scroller */
    min-height: 90vh; /* Altezza minima di ogni elemento dello scroller */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(172, 210, 48); /* Separatore tra gli elementi */
}

.card {
    position: relative;
    width: 80%; /* Larghezza della card */
    height: auto; /* Altezza automatica per la card */
    background-color: rgba(223, 223, 223, 0.946); /* Sfondo bianco trasparente */
    border-radius: 5px; /* Bordo arrotondato */
    padding: 90px 20px; /* Padding interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Ombra per la card */
    display: flex;
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: center; /* Centra orizzontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Centra il testo */
}

.card i {
    font-size: 3rem; /* Dimensione dell'icona più grande */
    color: #002BFF; /* Colore blu per le icone */
}

.card h3 {
    color: black; /* Colore del titolo */
    margin: 10px 0; /* Margine sopra e sotto il titolo */
}

.card p {
    color: gray; /* Colore del testo */
}

.how-ai-coaching-works {
    height: 100vh; /* Imposta l'altezza a 100vh */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.swiper {
    width: 80%;
    height: 80%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    border-radius: 10px;
    /* Center slide text vertically */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.testimonials-section {
    height: 100vh; /* Imposta l'altezza a 100vh */
    padding: 40px;
    background-color: black; /* Colore di sfondo per la sezione */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonne */
    gap: 20px; /* Spazio tra le card */
}

.testimonial-card {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.testimonial-image {
    width: 80px; /* Dimensione del cerchio */
    height: 80px; /* Dimensione del cerchio */
    border-radius: 50%; /* Forma circolare */
    overflow: hidden; /* Nasconde l'overflow */
    margin: 0 auto 10px; /* Centra l'immagine */
}

.testimonial-image img {
    width: 100%; /* Occupa tutta la larghezza */
    height: auto; /* Mantiene le proporzioni */
}

.profession {
    font-style: italic;
    color: gray;
}

.testimonial-description {
    margin-top: 10px;
    color: #333; /* Colore del testo */
}

.testimonial-icon {
    font-size: 50px; /* Dimensione dell'icona */
    color: #002BFF; /* Colore dell'icona */
    margin: 0 auto 10px; /* Centra l'icona */
}

.myTestimonialsSwiper {
    width: 100%; /* Larghezza del carosello */
    max-width: 800px; /* Larghezza massima */
}

.testimonial-ss {
    background: linear-gradient(45deg, #002BFF 0%, #e0ff33 100%) , rgba(255, 255, 255, 0.8);
    background-size: 300% 300%; /* Dimensione del gradiente per l'animazione */
    animation: gradientAnimation 5s ease infinite; /* Animazione del gradiente */
}

.testimonial-card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 500px;
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.testimonial-icon {
    font-size: 50px; /* Dimensione dell'icona */
    color: #002BFF; /* Colore dell'icona */
    margin: 0 auto 10px; /* Centra l'icona */
}

.swiper-button-next,
.swiper-button-prev {
    color: #002BFF; /* Colore dei pulsanti */
    width: 30px; /* Larghezza dei pulsanti */
    height: 30px; /* Altezza dei pulsanti */
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px; /* Dimensione dell'icona del pulsante */
}
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }