.dashboard-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    min-height: 100vh;
}

.dashboard-container video {
    position: absolute; /* Posiziona il video in modo assoluto */
    top: 0;
    left: 0;
    width: 100%; /* Occupa tutta la larghezza */
    height: 100%; /* Occupa tutta l'altezza */
    object-fit: cover; /* Copre l'area senza distorsioni */
    z-index: -1; /* Mette il video sotto gli altri contenuti */
}

.dashboard-nav {
    position: fixed;
    top: 20px;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo più scuro ma ancora semi-trasparente */
    backdrop-filter: blur(8px); /* Aggiunge un effetto blur allo sfondo */
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dashboard-nav-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.change-password {
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    color: royalblue;
    transition: 0.3s;
}

.change-password:hover {
    color: rgb(73, 117, 248);
    transition: 0.3s;
}

.dashboard-nav-logout {
    width: 100px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0;
    transition: 0.3s;
}

.dashboard-nav-logout:hover {
    background-color: rgba(255, 0, 0, 0.7);
    transition: 0.3s;
}

.assistants-container-content {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

.assistants-container-title {
    color: #1b49ff; /* Colore blu per il titolo */
    font-size: 1.5rem; /* Dimensione più piccola per il titolo */
    margin-bottom: 0; /* Spazio sotto il titolo */
    text-align: center;
}

.assistants-container-subtitle {
    color: white; /* Colore del sottotitolo */
    font-size: 3rem; /* Dimensione del sottotitolo */
    margin-bottom: 0; /* Spazio sotto il sottotitolo */
    text-align: center;
}

.view-mode-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.view-mode-button-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.view-mode-buttons button {
    position: relative;
    background-color: #1b49ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0;
    width: auto;
    transition: 0.3s;
}

.view-mode-button.active {
    background-color: #1b49ff;
    color: white;
    transition: 0.3s;
}

.view-mode-button.inactive {
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.assistants-container {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap; /* Permette il wrapping delle card */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo più scuro ma ancora semi-trasparente */
    border-radius: 20px;
    padding: 20px;
    gap: 25px;
}

.search-input {
    width: 70%;
    margin-left: 15%;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Sfondo più scuro ma ancora semi-trasparente */
    backdrop-filter: blur(8px); /* Aggiunge un effetto blur allo sfondo */
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    margin-bottom: 20px;
}

.search-input::placeholder {
    color: white;
}

.assistants-container p {
    text-align: center;
    color: #717171;
    font-size: 16px;
    font-weight: bold;
}
/* Card individuali */
.assistant-card {
    flex: 1 1 calc(33.33% - 20px); /* 3 card per riga con margine */
    margin: 10px; /* Margine tra le card */
    max-width: 300px; /* Larghezza massima per ogni card */
}

/* Media query per 2 card per riga */
@media (max-width: 800px) {
    .assistant-card {
        flex: 1 1 calc(50% - 20px); /* 2 card per riga */
    }
}

/* Media query per 1 card per riga */
@media (max-width: 500px) {
    .assistant-card {
        flex: 1 1 100%; /* 1 card per riga */
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.password-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 300px;
    text-align: center;
}

.password-popup h2 {
    margin-bottom: 20px;
    color: #1b49ff;
}

.password-popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-popup button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1b49ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.password-popup button:hover {
    background-color: #1553b5;
}

.close-button {
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
}

.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
    font-size: 16px;
    margin-top: 20px;
    gap: 10px;
}

.assistant-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: fixed; /* Assicura che le colonne abbiano larghezza fissa */
}

.assistant-table th, .assistant-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    width: 50%; /* Divide equamente le colonne */
    font-size: 0.8rem;
}

.assistant-table th {
    background-color: #1b49ff;
    color: white;
    font-weight: bold;
    text-align: center;
}

.assistant-row {
    transition: background-color 0.3s, color 0.3s;
    width: 100%; /* Assicura che le righe riempiano tutto lo spazio orizzontale */
    background: linear-gradient(to right, red, transparent,transparent,transparent,transparent, red);
}

.assistant-row:hover {
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
}

.assistant-row:hover td {
    background-color: #f0f0f0;
    color: black;
}



